name: CI

on: [push]

jobs:
    tests:
        runs-on: ubuntu-latest
        services:
            mysql:
                image: mysql:8.0
                env:
                    MYSQL_ALLOW_EMPTY_PASSWORD: yes
                    MYSQL_DATABASE: legal_entities_test
                ports:
                    - 3306:3306
                options: --health-cmd="mysqladmin ping" --health-interval=10s

        env:
            DATABASE_URL: "mysql://root@127.0.0.1:3306/legal_entities?serverVersion=8.0"

        steps:
            - uses: actions/checkout@v4

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.4'
                  extensions: pdo_mysql, mbstring, xml

            - name: Install
              run: composer install --no-interaction

            - name: Build Database
              run: |
                  php bin/console doctrine:migrations:migrate --no-interaction --env=test

            - name: Run Tests
              run: vendor/bin/phpunit
